.car:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
.car:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.car{
    text-align: center;
    transition: all 0.5s;
    background: #fff3f3;
}
